
.tarjetas{
    border: $bordes;
    @include base(#fbd248);
    &:hover{
        background-color: #353c17;
        color: #fff;
        transform: translate(10px, 20px);
    }
    @media(max-width:350px){
            width:250px;
        }
    h3{
        font-size: 30px;
        text-align: center;
        @media(max-width:768px){
            font-size: 20px;
        }
    }
    p{
        font-size: 20px;
        text-align: justify;
        @media(max-width:768px){
            font-size: 15px;
        }
    }
    img{
        width: 100%;
        height: 300px;
        @media(max-width:350px){
            height: 200px;
        }

    }
}


.tarjetas_2{
    border: $bordes;
    @extend %base;
    &:hover{
        background-color: #353c17;
        color: #fff;
        transform: translate(10px, 20px);
    }
    h2{
        font-size: 30px;
        text-align: center;
    }
    h3{
        font-size: 20px;
        text-align: center;
    }
    h4{
        font-size: 40px;
        text-align: center;
    }
    ul li{
        font-size: 15px;
        text-align: left;
        list-style:inside;
    }
    img{
        width: 100%;
    }
}