
@import "reset";
@import "variables";
@import "navegador";
@import "carrousel";
@import "tarjetas";
@import "formulario";


.contenido_main_index {
    width: 100%;
    background-color: $bg-color;
    padding: 30px;
    padding-top:10px;
    h2{ 
        font-size: 50px;
        @media(max-width:768px){
                font-size: 30px;
            }
    }
    p{
        font-size: 25px;
        @media(max-width:768px){
            font-size: 15px;
        }
    }
    img{
        width: 250px;
        height: 250px;
        margin-bottom: 10px;
    }
}

.contenido_main_servicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: $bg-color;
    padding: 20px;
    @media(max-width: 676px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}

.contenido_main_quienes_somos{   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $bg-color;
    padding: 20px;
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
}

.contenido_main_contacto{
    width: 100%;
    background-color: #fbd248;
    padding-top: 20px;
    padding-bottom: 20px;
    label{
        font-size: 20px;
    }
}

.contenido_footer{
    background-color: #fbd421;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 10px;
    text-align: center;
    align-items:start;
    padding-top: 10px;
    .redes i{
        font-size: 40px;
        margin: 5px;
    }
    h4{
        font-size: 15px;
        margin: 5px;
    }
    @media(max-width:768px){
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
}






